@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

body {
  font-family: Poppins;
}

.center {
  display: block;
  margin-right: auto;
  max-width: 75px;
}

.text-none {
  text-decoration: none;                
}

h5 {
font-size: 5px;
}

.logo{
margin:0;
padding:0;
}
